/* start Header */
header{
	width: 100%;
	height: 100px;
	background: $white;
	box-shadow: 1px 1px 5px $black;
	position:fixed;
    z-index: 100;
    background-color: $primaryColor;
}

nav {
    max-width: 1200px;
    margin: auto;
    &.navbar-custom {
        .navbar-text{
            color: $red;
            font-size: 20px;
        }    
    }
    
    #navbarSupportedContent  {
        a:hover {
            color: $red;
            text-decoration: none;
            background: #0B3F57;
            border-bottom: 2px solid #FFF;
            text-shadow: 1px 1px 1px $black;
        }
       
    }
    &.navbar-light{
        ul{
            &.navbar-nav {
                li {
                    a{
                         color: $red !important;
                    }
                }
            }
        }
    }
    
}

@media (max-width: 991px) {
    nav.navbar {
      background: $primaryColor;
    }
    ul.navbar-nav.ml-auto {
        text-align: center;
    }
  }

  .navbar-toggler {
    background-color: $lightBlue !important;
}










/* end Header */